
{% extends 'index.html' %}
{% load static %}
{% block content %}

<p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUATECH  provides Software Education offers a comprehensive range of world-class courses, both publicly,
and in-house where we customise training specifically to fit the unique needs of your business<a href="/">&nbsp;&nbsp;more</a>
                   We maintain very high standards in our Training. The courses are developed keeping in mind the Industry trends and requirements,
Our course curriculum are constantly updated to adapt new innovations and implement the constantly changing Technology concepts. DUATECH delivers technical
 training solutions. Designed to be the highest-quality solution available in each marketplace we serve, DUATECH offers hands-on, instructor-led training
          programs from premier training facilities.</p><br>Our Key Features are....


<ul><li>Flexible timing </li>
<li>Well Experienced Faculties</li>
<li>Most Updated Syllabus.</li>
<li>More than 20 High speed Computers.</li>
<li>Friendly Environment for Students.</li>
    <li>Special Coaching for Working people.</li></ul>
</P>
<h2>DUA SECURITY SYSTEMS</h2>
<h3>INTRUSION ALARM</h3>
<img src="{% static 'assets\admin\img\INTRU.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Intrusion alarms are used to enhance security and provide peace of mind by detecting and deterring unauthorized entry into homes and businesses, protecting against burglary, vandalism, and property damage. They accomplish this by using sensors on doors, windows, and other strategic points to detect movement or forced entry, which triggers an alert via a control panel and can activate a siren, strobe light, or a silent notification to a user or a professional monitoring service.DUA'S Intrusion alarm system,is always ready to watch each and every corner of your home.

    <br>
    <h3>SOLAR SYSTEMS</h3>
<img src="{% static 'assets\admin\img\SOLAR.jpg' %}">
  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUA has taken all the complications out of purchasing a fully functional solar power system for your home or office. Solar systems are used to generate electricity for homes, businesses, and industries, heat water and buildings, power devices like calculators and street lights, run agricultural equipment such as water pumps, and even provide power for satellites. Beyond these primary uses, solar energy can also be employed for cooking, drying crops, and cooling spaces, offering a renewable and sustainable power source across various sector.</p>
      <h3>CCTV</h3>
<img src="{% static 'assets\admin\img\CCTV.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUA is the trusted leading brand within the Security Industry.We provide the best range of CCTV System such as Analog CCTV camera,CCTV surveillance system,Beyond security, they also serve to monitor traffic, improve public safety, oversee industrial operations, and monitor customer behavior in retail. They offer remote monitoring capabilities, enhancing security for homes and businesses, and can also be integrated with AI and IoT systems for more advanced functionalities like process efficiency and predictive maintenance.</p>
<h3>LED LAMPS</h3>
<img src="{% static 'assets\admin\img\LED.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We guarantee quality customer service at the lowest prices.We value your money.Our LED lamps are designed to create beautiful ambiances with a choice of visual effects and dimming possibilities that you can tailor to each application.</p>
<h3>INVERTERS</h3>
<img src="{% static 'assets\admin\img\INVERTER.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUA withn our well established and highly motivated and trained team,we will be offering dua system customers fast and reliable local service support in terms of application engineering and after sales service</p>
<h3>ACCESS CONTROL AND TIME ATTENDANCE SYSTEMS</h3>
<img src="{% static 'assets\admin\img\ACCESS.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUA Access Control:
Focuses on restricting physical access to certain areas or resources using hardware like card readers, turnstiles, and biometrics, often with multiple levels of security.
<br>Time and Attendance Management:
Involves tracking when employees start and end work, including breaks, time-off, and absences, typically through software</P>

<h3>BIOMETRIC SOLUTIONS</h3>
<img src="{% static 'assets\admin\img\BIOMETRIC.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUA Biometric solutions use unique physiological or behavioral traits for identification and authentication, replacing traditional passwords. Common solutions include fingerprint scanning, facial recognition, and iris scanning (physiological) and voice recognition (behavioral). These systems offer enhanced security, faster access, and person.</P>
<h3>GPS TRACKING SYSTEMS</h3>
<img src="{% static 'assets\admin\img\GPS.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A GPS tracking unit, geotracking unit, satellite tracking unit, or simply tracker is a navigation device normally on a vehicle, asset, person or animal that uses satellite navigation for geotracking, i.e., to determine the geographic position of an object in movement.[1] Satellite tracking devices may send special satellite signals that are processed by a receiver.

Locations are stored in the tracking unit or transmitted to an Internet-connected device using the cellular network (GSM/GPRS/CDMA/LTE or SMS), radio, or satellite modem embedded in the unit or WiFi work worldwide.

GPS antenna size limits tracker size, often smaller than a half-dollar (diameter 30.61 mm). In 2020 tracking is a $2 billion business plus military-in the gulf war 10% or more targets used trackers. Virtually every cellphone tracks its movements. Tracks can b</P>
<h3>ANTI SHOP LIFTING SYSTEM</h3>
<img src="{% static 'assets\admin\img\ANTI.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUA  Anti-shoplifting refers to the strategies and systems used by retailers to prevent the theft of merchandise. These measures include physical security devices like tags and locked cases, electronic surveillance such as Electronic Article Surveillance (EAS) gates and cameras, and increasingly, AI-powered systems that use predictive technology to identify suspicious behavior. The goal is to deter theft, reduce losses, and create a more secure retail environment.
</P>
<h3>SMOKE DETECTORS AND FIRE ALARM</h3>
<img src="{% static 'assets\admin\img\SMOK.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A smoke detector is a device that senses smoke, typically as an indicator of fire. Smoke detectors/alarms are usually housed in plastic enclosures, typically shaped like a disk about 125 millimetres (5 in) in diameter and 25 millimetres (1 in) thick, but shape and size vary. Smoke can be detected either optically (photoelectric) or by physical process (ionization). Detectors may use one or both sensing methods. Sensitive detectors can be used to detect and deter smoking in banned areas. Smoke detectors in large commercial and industrial buildings are usually connected to a central fire alarm system.

Household smoke detectors, also known as smoke alarms, generally issue an audible or visual alarm from the detector itself or several detectors if there are multiple devices interconnected. Household smoke detectors range from individual battery-powered units to several interlinked units with battery backup. With interlinked units, if any unit detects smoke, alarms will trigger all of the units. This happens even if household power has gone out. </P>
<h3>AUTOMATIC GATE SYSTEM</h3>
<img src="{% static 'assets\admin\img\AUTOGATE.jpg' %}">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These electric gates come with automatic gate lock systems, enhancing security and convenience for residential properties</P>
<br><h2>DUA TECHNICAL ACADEMY</h2>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we provide an experienced Networking Engineers, Certified Trainers, Project Leaders, System Analyst, Developers, and enthusiastic Customer Support Engineers. </p>
<br>Courses offered..............


<ul><li>Python and Django </li>
    <li>CCTV Installation</li>
    <li>MS Office</li>
    <li>PDDTP</li>
    <li>Graphic Designing</li>
    <li>DCA</li>
    <li>DATA Entry</li>
    <li>CTTC</li>
    <li>NET & FIX</li></ul>
<a href="booking" class="btn btn-primary">Apply now!</a>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coding is an ability that pays off not only in the form of professional skills but also as a ticket to the global world. The opportunities available to the students after the 12th to venture into the coding world are abundant, as it is open to anyone irrespective of their ambitions. Anyone can learn to be a good programmer with time and effort, and the proper course.Which degree course or certificate program should you take could be an issue, but the most important thing is to remain curious and to continue constructing projects. However, the ultimate lesson with regards to learning programming is doing, so now is the best time to start, and one line of code is the first step of creating your future.</p>

<br>
<style>
    container{
          display:flex;
          flex-wrap:wrap;
          gap: 10rem;
          padding:10px;
          justify-content: space-around;

    }


    .card {
        display:inline-block;
        flex: 1 1 250px; /* Allows cards to grow/shrink and sets a base width */
        border: 2px solid #ccc;
        padding: 10px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
</style>
<br>
<div class="container" >
      <div class="card" style="width: 18rem;">
        <img src="{% static 'assets\admin\img\y.jpg' %}" class="card-img-top" alt="...">
      </div>
     <div class="card" style="width: 18rem;">
         <img src="{% static 'assets\admin\img\accounting.jpg' %}" class="card-img-top" alt="...">
     </div>

     <div class="card" style="width: 18rem;">
        <img src="{% static 'assets\admin\img\12.jpg' %}" class="card-img-top" alt="...">
     </div>
     <div class="card" style="width: 18rem;">
        <img src="{% static 'assets\admin\img\ma.jpg' %}" class="card-img-top" alt="...">
     </div>
     <div class="card" style="width: 18rem;">
        <img src="{% static 'assets\admin\img\PYTHON.jpg' %}" class="card-img-top" alt="...">
     </div>

    <div class="card" style="width: 18rem;">
        <img src="{% static 'assets\admin\img\A.jpg' %}" class="card-img-top" alt="...">
     </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'assets\admin\img\b.jpg' %}" class="card-img-top" alt="...">
     </div>

</div>

<br>

<br>

{% endblock %}
