{% extends 'index.html' %}
{% load static %}
{% block content %}
<h2>CCTV  Installation & Maintenance</h2>

<ul><li>Safety rules & precautions</li>
<li>Electrical Wiring (Basic & Advanced)</li>
<li>Basic Wiring method</li>
<li>Basic Electronics</li>
<li>Troubleshooting Electronic circuits</li>
<li>CCTV Basics-Backup & Playback Systems</li>
<li>Hands – on setup with DVR/NVR</li>
<li>Introduction to Surveillance Systems</li>
<li>Types of Cameras & DVR /NVR Systems</li>
<li>IP Camera Networking with Configuration</li>
    <li>Troubleshooting Techniques</li></ul>
<h3>Duration: 1 year</h3>
<a href="booking" class="btn btn-primary">Take your seat!</a>
<br>
{% endblock %}
