{% extends 'index.html' %}
{% load static %}
{% block content %}
<h2>Python & Django</h2>

<ul><li>Introduction</li>
<li>Variables</li>
<li>Operator</li>
<li>Decision Making - Loops</li>
<li>String</li>
<li>List</li>
<li>Tuples</li>
<li>Dictionary</li>
<li>Set</li>
<li>Array</li>
<li>comprehensions</li>
<li>Function</li>
<li>Modules</li>
<li>Files</li>
<li>Directories</li>
<li>Exception Handling</li>
<li>OOP</li>
<li>Regular Expressions</li>
<li>GUI Programming</li>
<li>Python  Database Access</li>
  <li>Data science with python</li></ul>
<h3>Django</h3>
<ul><li>Introduction</li>
<li>Installation</li>
<li>Architecture</li>
<li>Project Creation</li>
<li>URLS</li>
<li>Models</li>
<li>Admin</li>
<li>CRUD</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>CCTV  Installation & Maintenance</h2>

<ul><li>Safety rules & precautions</li>
<li>Electrical Wiring (Basic & Advanced)</li>
<li>Basic Wiring method</li>
<li>Basic Electronics</li>
<li>Troubleshooting Electronic circuits</li>
<li>CCTV Basics-Backup & Playback Systems</li>
<li>Hands – on setup with DVR/NVR</li>
<li>Introduction to Surveillance Systems</li>
<li>Types of Cameras & DVR /NVR Systems</li>
<li>IP Camera Networking with Configuration</li>
    <li>Troubleshooting Techniques</li></ul>
<hr><br>
<h2>Computer  Teacher’s training course(CTTC)</h2>
<h3>SEMESTER 1</h3>
<ul><li>Fundamentals of computer</li>
<li>Internet & E-mail basics</li>
<li>MS Office</li>
<li>C++</li>
<li>HTML</li>
    <li>Malayalam Typing</li></ul>
<h3>SEMESTER 2</h3>
<ul><li>Adobe Photoshop</li>
<li>Adobe Illustrator</li>
    <li>Corel Draw</li>
    <li>IT Teaching</li></ul>
<h3>Duration: 1 year</h3>

<hr><br>

<h2>Professional Diploma in Desktop publishing(PDDTP)</h2>
	<ul><li>MS Word</li>
        <li>MS Excel</li>
<li>Adobe Photoshop</li>
<li>Adobe InDesign</li>
<li>Corel Draw</li>
        <li>Malayalam Typing</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>Graphic Designing</h2>
<ul><li>MS Word</li>
<li>MS Excel</li>
<li>Adobe Photoshop</li>
<li>Adobe Illustrator</li>
    <li>Corel Draw</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>Data Entry Operator</h2>
<ul><li>Fundamentals of computer</li>
<li>Internet & E-mail basics</li>
<li>MS Word</li>
<li>MS Excel</li>
<li>MS Powerpoint</li>
<li>Malayalam Typing</li>
    <li>English Typing</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>Diploma in Computer Application(DCA)</h2>

<ul><li>MS Office</li>
<li>Fundamentals of computer</li>
<li>Internet & E-mail basics</li>
<li>C ++ Programming</li>
<li>VB . NET Programming</li>
    <li>SQL</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>Certified Professional  Accounting</h2>
<ul><li>MS Office</li>
<li>Manual Accounting</li>
<li>Tally Prime Latest Version & GST</li>
<li>ZOHO Books</li>
<li>E-Filing</li>
<li>Sage – 50</li>
    <li>Gulf Vat</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>Hardware & Networking(NET & FIX)</h2>
<ul><li>Fundamental of Computer and Basic Electronics</li>
<li>Assembling a Personal computer</li>
<li>Operating System Installation Configuration</li>
<li>Troubleshooting and Maintenance</li>
<li>Networking and fundamentals</li>
<li>MCSA 2016</li>
    <li>RHCSA B</li></ul>
<h3>Duration: 6 months</h3>
<hr><br>
<h2>Office Pro Accounts</h2>
<ul><li>Fundamentals of computer</li>
<li>Internet & E-mail basics</li>
<li>MS Word</li>
<li>MS Excel</li>
    <li>MS Powerpoint</li></ul>
<h3>Duration: 3  months</h3>
<hr><br>



{% endblock %}
