{% extends 'index.html' %}
{% load static %}
{% block content %}

<h2>Computer  Teacher’s training course(CTTC)</h2>
<h3>SEMESTER 1</h3>
<ul><li>Fundamentals of computer</li>
<li>Internet & E-mail basics</li>
<li>MS Office</li>
<li>C++</li>
<li>HTML</li>
    <li>Malayalam Typing</li></ul>
<h3>SEMESTER 2</h3>
<ul><li>Adobe Photoshop</li>
<li>Adobe Illustrator</li>
    <li>Corel Draw</li>
    <li>IT Teaching</li></ul>
<h3>Duration: 1 year</h3>
<br>
<a href="booking" class="btn btn-primary">Take your seat!</a>

{% endblock %}