{% extends 'index.html' %}
{% load static %}
{% block content %}
<h2>Python & Django</h2>

<ul><li>Introduction</li>
<li>Variables</li>
<li>Operator</li>
<li>Decision Making - Loops</li>
<li>String</li>
<li>List</li>
<li>Tuples</li>
<li>Dictionary</li>
<li>Set</li>
<li>Array</li>
<li>comprehensions</li>
<li>Function</li>
<li>Modules</li>
<li>Files</li>
<li>Directories</li>
<li>Exception Handling</li>
<li>OOP</li>
<li>Regular Expressions</li>
<li>GUI Programming</li>
<li>Python  Database Access</li>
  <li>Data science with python</li></ul>
<h3>Django</h3>
<ul><li>Introduction</li>
<li>Installation</li>
<li>Architecture</li>
<li>Project Creation</li>
<li>URLS</li>
<li>Models</li>
<li>Admin</li>
<li>CRUD</li></ul>
<h3>Duration: 6 months</h3>
<a href="booking" class="btn btn-primary">Take your seat!</a>

<br><br>
{% endblock %}